/* ------ FONT IMPORT ------ */
/* Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Tricky */
@font-face {
    font-family: "Tricky";
    src: url("../assets/fonts/Demotricky-mLA9m.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ------ VARIABLES ------ */
:root {
    /* Couleur */
    --vert: #0eda8f;
    --jaune: #fed702;
    --violet: #b1a0ea;
    --noir: #101010;

    /* --- Headings (Titres) --- */
    /* 150px */
    --font-size-heading-large: 9.375rem;

    /* 115px */
    --font-size-heading-big: 7.1875rem;

    /* 60px */
    --font-size-heading-medium: 3.75rem;

    /* 44px */
    --font-size-heading-regular: 2.75rem;

    /* 30px */
    --font-size-heading-small: 1.875rem;

    /* 24px */
    --font-size-heading-compact: 1.5rem;

    /* --- Body & UI (Texte courant) --- */
    /* 30px  */
    --font-size-body-button: 1.875rem;

    /* 24px  */
    --font-size-body-medium: 1.5rem;

    /* 20px */
    --font-size-body-small: 1.25rem;

    /* 16px */
    --font-size-caption: 1rem;
}

/* ------ RÈGLES GÉNÉRALES ------*/
body {
    font-family: "Manrope", sans-serif;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

main {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
}

h1 {
    font-family: "Tricky", serif;
}

/* No scroll */
html,
body {
    scrollbar-width: none;

    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

button {
    background-color: var(--vert);
    border-radius: 50px;
    border: 3px solid var(--noir);
    width: fit-content;
    height: 70px;
    font-size: var(--font-size-body-button);
    box-shadow: 5px 5px 0 0 #101010;
    padding: 15px 40px;
}

button:hover,
a:hover {
    cursor: pointer;
}

a button {
    color: var(--noir);
    text-decoration: none;
}

button a {
    color: var(--noir);
    text-decoration: none;
}

/* ------ HEADER ------ */
header {
    z-index: 1001;
}

header > div {
    height: 1.5rem;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 4px;
    scrollbar-width: none;
}


/* ----------------------------------------- REGLES ----------------------------------------- */

.container-regles {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    color: var(--noir);
    font-size: var(--font-size-body-medium);
    display: flex;
    width: 100vw;
    height: 100%;
    background-image: url(../assets/images/gradient-bg2-regles-jeu.jpg);
    background-repeat: none;
    background-size: cover;
    position: relative;
}

.regles-bloc {
    max-width: 850px;
    width: 80%;
    margin-top: 50px;
    padding-bottom: 45px;
    padding-top: 25px;
    background-color: var(--violet);
    border: 3px solid var(--noir);
    border-radius: 40px;
    box-shadow: 15px 15px 0px var(--noir);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.regles-bloc > h1 {
    font-family: "Manrope", sans-serif;
    font-size: var(--font-size-heading-medium);
    font-weight: 600;
}

.regles-bloc > section > h2 {
    font-size: var(--font-size-heading-small);
    font-weight: 600;
}

.container-regles p {
    margin-top: 5px;
}

.container-regles ul {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.voyage {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
}

.voyage p {
    margin-top: 0px;
}

.star {
    display: none;
}

.boule {
    display: none;
}

.black-bars {
    display: none;
}

#vaguerule {
    display: none;
}


/* ----------------------------------------- RESPONSIVE ----------------------------------------- */

/* ---------- HEADER RESPONSIVE --------- */
/* Max 768px */
@media (max-width: 768px) {
    header > div {
        height: 3rem;
    }
}

/* Max 480px */
@media (max-width: 480px) {
    header > div {
        height: 4rem;
    }
}



/* -------------- REGLES RESPONSIVE ----------- */

@media (max-width: 768px) {
    body {
        position: relative;
    }

    .regles-bloc > h1 {
        font-size: 40px;
    }

    .regles-bloc {
        height: auto;
        gap: 20px;
    }

    .regles-bloc > section > h2 {
        font-size: var(--font-size-body-medium);
        font-weight: 600;
    }

    .regles-bloc > section > p {
        font-size: 18px;
    }

    .regles-bloc > section > ul {
        font-size: 18px;
    }

    .accueil-gradient-bar {
        display: none;
    }

    .black-bars {
        display: block;
        position: absolute;
        height: 100vh;
        z-index: 0;
        width: 158px;
    }

    .regles-bloc {
        z-index: 2;
    }

    .star {
        display: block;
        position: absolute;
        top: 8%;
        left: 5%;
        width: 12vh;
        height: auto;
        /* width: 134px;
        height: 135px; */
        z-index: 3;
    }

    .boule {
        display: block;
        position: absolute;
        bottom: 8%;
        right: 5%;
        width: 13vh;
        height: auto;
        z-index: 3;
    }

    #vaguerule {
        display: block;
        transform: scaleX(-1);
        width: 120%;
    }
}
