.Quiz-Answers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    justify-content: center;
    text-align: center;
}

.Quiz-Answers-Childs {
    font-family: "Manrope", sans-serif;
    color: #2b2424;
    border: 2px solid #2b2424;
    padding: 18px;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
